<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <logger>

        <!--ConsoleAppender。-->
        <appender name="ConsoleAppender" type="SoftCube.Log.ConsoleAppender">
            <property name="LogFormat" value="{Message}{NewLine}"/>
            <property name="MinLevel" value="Trace"/>
            <property name="MaxLevel" value="Fatal"/>
        </appender>

        <!--使用する Appender。-->
        <use-appender name="ConsoleAppender"/>

    </logger>

</configuration>
