<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <logging>

        <!--ConsoleAppender。-->
        <appender name="ConsoleAppender" type="SoftCube.Logging.ConsoleAppender">
            <property name="LogFormat" value="{DateTime:yyyy-MM-dd HH:mm:ss,fff} [{Level,-5}] - {Message}{NewLine}"/>
            <property name="MinLevel" value="Trace"/>
            <property name="MaxLevel" value="Fatal"/>
        </appender>

        <!--使用する Appender。-->
        <use-appender name="ConsoleAppender"/>

    </logging>

</configuration>
